
#content{
    font-family: Arial, sans-serif;
}

header {
    background-color: #2a81e2;
    margin-top: 0;
    color: white;
    text-align: center;
    padding: 1px;
}

h1 {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    text-align: center;
}

#menu-button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.2em;
    margin: 10px;
    margin-top: 15px;
    cursor: pointer;
}


#menu-button:hover {
    text-decoration: underline;
}

#nav-links {
    font-size: 1.1em;
    margin: 10px;
    margin-top: 15px;
    display: none;
}
#nav-links a {
    color: white;
    padding: 10px;
    cursor: pointer;

}

#nav-links a:hover {
    text-decoration: none;
}

#content {
    background-color: #cccccc;
}

h2 {
    text-align: center;
    font-weight: normal;
}

#pic-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
}


img {
    margin: 0 auto;
    border: white 5px solid;
    box-shadow: black 2px 2px 7px;
}

@media screen and (min-width: 700px) {
    #pic-grid {
        grid-template-columns:  1fr 1fr;
        
    }
    img {
        max-width: 100%;
    }
    
}

@media screen and (min-width: 1000px) {
    #pic-grid {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1500px;
    }
    #menu-button {
        display: none;
    }
    #nav-links {
        display: block;
    }  
}






