
#content{
    font-family: Arial, sans-serif;
}

header {
    background-color: #2a81e2;
    margin-top: 0;
    color: white;
    text-align: center;
    padding: 1px;
}

h1 {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    text-align: center;
}

#menu-button{
    background-color: transparent;
    color: white;
    font-size: 1.2em;
    margin: 10px;
    margin-top: 15px;
    cursor: pointer;
    border: 1px solid transparent ;
}

#menu-button.menu_open {
    color: lightgray;
}


#menu-button:hover {
    border: 1px solid lightgray ;
    border-radius: 5px;
    background-color: #4991E4;

}


#nav-links {
    font-size: 1.1em;
    margin: 10px;
    margin-top: 15px;
    
}

#nav-links a {
    color: white;
    margin: 10px;
    padding: 2px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid transparent ;
    border-radius: 5px;


}

#nav-links a:hover {
    text-decoration: none;
    border: 1px solid lightgray ;
    border-radius: 5px;
    background-color: #4991E4;
}

#content {
    background-color: #cccccc;
}

h2 {
    text-align: center;
    font-weight: normal;
}

#pic-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
}


img {
    max-width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 0 auto;
    border: white 5px solid;
    box-shadow: black 2px 2px 7px;
}

footer {
    background-color: #2a81e2;
    color: white;
    text-align: center;
    height: 50px;
    padding: 10px;
}


.hide{
    display: none;
}


@media screen and (min-width: 700px) {
    #pic-grid {
        grid-template-columns:  1fr 1fr;
        
    }
    img {
        max-width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }
    
}

@media screen and (min-width: 1000px) {
    #pic-grid {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1500px;
    }
    #menu-button {
        display: none;
    }
    #nav-links {
        display: block;
    }  
}






