
#content{
    font-family: Arial, sans-serif;
}



header {
    background-color: #2a81e2;
    margin-top: 0;
    color: white;
    text-align: center;
    padding: 1px;
}

h1 {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    text-align: center;
}

#menu-button{
    background-color: transparent;
    color: white;
    font-size: 1.2em;
    margin: 10px;
    margin-top: 15px;
    cursor: pointer;
    border: 1px solid transparent ;
}

#menu-button.menu_open {
    color: lightgray;
}


#menu-button:hover {
    border: 1px solid lightgray ;
    border-radius: 5px;
    background-color: #4991E4;

}


#nav-links {
    font-size: 1.2em;
    margin-top: 5px;
    padding: -2px;
    
    
}

#nav-links a {
    color: white;
    margin: 10px auto;
    padding: 2px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid transparent ;
    border-radius: 5px;
    display: block;
    max-width:max-content;

    


}

#nav-links a:hover {
    text-decoration: none;
    border: 1px solid lightgray ;
    border-radius: 5px;
    background-color: #4991E4;
}

#content {
    background-color: #cccccc;
}

h2 {
    text-align: center;
    font-weight: normal;
}

#pic-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
}


img {
    max-width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 0 auto;
    border: white 5px solid;
    box-shadow: black 2px 2px 7px;
}

footer {
    background-color: #2a81e2;
    color: white;
    text-align: center;
    height: 50px;
    padding: 10px;
}


.hide{
    display: none;
}

body:has(dialog[open]) {
    overflow: hidden;
}

dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
    margin: 0;
    align-content: center;
}

dialog img {
    max-height: 100%;
    max-width: 90%;
    display: block;

   
}

.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
    background-color: darkgray;
    border: 1px solid black;
    border-radius: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: .5s;
    color: black;

}
.close-viewer:hover {
    animation: strobe 0.5s infinite;
    cursor: pointer;
}




@media screen and (min-width: 700px) {
    #pic-grid {
        grid-template-columns:  1fr 1fr;
        
    }
    img {
        max-width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }
    
}

@media screen and (min-width: 1000px) {
    #pic-grid {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1500px;
    }
    #menu-button {
        display: none;
    }

    #nav-links {
        display: block;
    }

    #nav-links a {
    display: inline-block;
    }


}



